.contDocs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.indice {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap:50px;
    flex-direction: column;
    min-width: 30%;
    height: fit-content;
    background: var(--bg-pattern-gioca);
    border-radius: 0px 5px 5px 0px;
    border: 5px solid var(--text);
    border-left: 0px;
    left: 0;
    animation: fade 500ms forwards;
}

#titoloIndice {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--text);
}

#contSezioni{
    display: flex;
    width: 90%;
    gap: 50px;
    flex-direction: column;
    padding-bottom: 60px;
}

.sezione {
    box-sizing: border-box;
    background: none!important;
    border: 0px;
    border-left: 6px solid var(--text);
    font-size: 1.3rem;
    text-align: left;
    width: 100%!important;
    font-weight: bold;
    color: var(--text);
    cursor: pointer;
    transition: transform 300ms, color 200ms;
}

.sezione:hover {
    color: var(--bg-nav);
    border-left: 6px solid var(--bg-nav);
    transform: translateX(10px)!important;;
    background: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
}

#docs {
    padding: 40px;
    padding-top:20px;
    width: 100%;
    color: var(--text);
}

#titoloDocs {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    border-bottom: 2px solid var(--details);
    margin-bottom: 40px;
    margin-left: 20px;
}

.contText {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.docsText { 
    word-break: break-all;
    width: 100%;
    background-color: rgba(63, 63, 62, 0.301);
    padding: 30px;
    border-left: 6px solid var(--details);
    border-radius: var(--angoli);
    display: none;
    animation: pop 300ms forwards;
}

.docsText:nth-child(2){
    display: block;
}

@media (max-width: 991.98px){
    #docs{
        padding: 0;
    }
    #titoloDocs,#titoloIndice{
        font-size: 30px;
    }
    .contDocs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        flex-direction: column;
    }
    .contText{
        margin-top: 30px;
    }
    .indice {
        width: 90%;
        border: 3px solid var(--text);
        margin-top: 10px;
        gap:0px;
        padding-top: 0;
    }

    #contSezioni::-webkit-scrollbar {
        height: 5px;
    }
    #contSezioni::-webkit-scrollbar-track {
        background: #ffffff; 
    }
    #contSezioni::-webkit-scrollbar-thumb {
        background: #b62f2f; 
    }

    #contSezioni{
        flex-direction: row;
        overflow: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    #titoloIndice {
        font-size: 2rem;
    }
    .sezione:hover {
        transform:initial;
    }
}