.NavBar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.5rem;
    backdrop-filter: blur(100px);
}

img{
    width: 50px;
}

.icon{
    cursor: pointer;
    width: 50px!important;
    margin: 0!important;
}