footer{
    background-color: var(--bg-footer);
    color:white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 50px;
}

footer .logo{
    max-width: 200px;
}

footer ul { 
    gap:10px;
    list-style-type: none; 
    margin:0;
    z-index: 1;
    margin-right: 30px;
}

footer a{
    display: flex;
    gap:10px;
    align-items: center;
    color: inherit;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: transform 300ms;
}

footer a:hover{
    text-decoration: underline;
}

footer .icon{
    width: 20px;
    filter: var(--to-white);
}

@media (max-width: 950px){
    footer{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 120px;
    }
    footer ul{
        width: 90%;
    }
    footer h2{
        margin-top: 30px;
        padding-top:25px;
        border-top: 1px solid rgba(255, 255, 255, 0.169);
    }
}