.Impostazioni {
  text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#contentImpostazioni {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 3.5rem;
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 1rem;
}

#timeOption {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 200px;
  margin: auto;
}

#noTime {
  width: 50px;
  position: absolute;
  left: 0;
}

#timeOn {
  width: 50px;
  position: absolute;
  right: 0;
  display: none;
}

#titlePage {
  font-size: 70px;
  color: white;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#titleDiff {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#titleLout {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

.button-35 {
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  transition: all 300ms;
  color: white;
  text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  background-color: #04a4ee;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.button-35:hover{
  background-color: #fff600;
}

.button-35.selez {
  background-color: #27ae60;
}


.button-35 * {
  pointer-events: none;
}

.buttonImpostazioni {
  margin-top: 10px;
  margin-bottom: 20px;
}


.toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-switch {
  display: inline-block;
  background: #ff0000;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #ffffff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.979);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #00f863;

}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.toggle-label h2 {
  margin: 0;
}

#toggleIcon {
  border: 1px solid black;
  width: 10%;
}

.logout {
  transition: all 300ms;
}

.logout:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: #ff0000 0 0 0 5px, transparent 0 0 0 0;
}

.button-93 {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
  #e84118;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
  text-shadow: calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
    calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-93:hover,
.button-93:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-93:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-93 {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  padding: .3em .7em;
  border-radius: 5px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid~.label,
.container .input:focus~.label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.buttonImpostazioniout{
  margin-top: 2rem;
}

@media screen and (max-width: 550px){
  #titlePage{
    font-size: 50px;
    margin-top: 0;
  }
  #titleDiff{
    font-size: 30px;
  }
  #titleLout{
    font-size: 30px;
  }
  #contentImpostazioni{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 698px){
  #titleLout{
    margin-bottom: 1rem;
  }
  .buttonImpostazioniout{
    display: flex;
    flex-direction: column;
  }
}