@font-face {
    font-family: myFont;
    src: url(SuperMario256.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: myFont;
    color: red;
    display: flex;
}

#cont {
    width: 100vw;
    height: 100%;
    background-color: black;
}

#contChat {
    height: 100%;
    background-color: black;
}

.div {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    border: 2px solid #0c5daf
}