#account h1{
    color:white!important;
    text-align: center;
}

#account{
    color:white!important;
    height: 100%;
}

.cont-dati{
    display: flex;
    flex-direction: column;
    background: var(--bg-pattern-gioca);
    padding: 30px;
    box-sizing: border-box;
    gap:10px;
}

.dati{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}

.dati label{
    font-weight: bold;
}
.dati label,.dati span{
    width: 150px;
}

@media (max-width: 700px){
    .dati{
        flex-direction: column;
        text-align: center;
    }
    .dati label,.dati span{
        width: 100%;
    }
}