#homepage {
    width: 100%;
}

#homepage header{
    display: flex;
    background-color: silver;
    background-image: linear-gradient(335deg, rgb(180, 44, 44) 23px, transparent 23px),
    linear-gradient(155deg, rgb(206, 50, 50) 23px, transparent 23px),
    linear-gradient(335deg, rgb(170, 41, 41) 23px, transparent 23px),
    linear-gradient(155deg, rgb(214, 51, 51) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: inset 500px -150px 400px rgb(0, 0, 0);
}

#homepage header img{
    width: 400px;
}
#homepage header h3{
    color: rgb(179, 179, 179);
    font-size: 30px;
    font-weight: 400;
}

#homepage header #gioca{
    font-size: 40px;
    border-radius: var(--angoli);
    transition: transform 300ms,background-size 300ms;
    color:var(--text);
    background: var(--bg-pattern-gioca);
    background-size: 44px 44px;
    background-position: center;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

#homepage header #gioca:hover{
    transform: scale(1.2) rotate(6deg);
    background-size: 80px 80px;
}

.avatars{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

@media (max-width: 950px){
    #homepage header{
        height: fit-content;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: inset 0px 100px 400px rgba(0, 0, 0, 0.851);
    }
    #homepage header img{
        width: 60vw;
    }
    #homepage header h2,#homepage header h3{
        margin: 0;
    }
    #homepage header h2{
        font-size: 30px;
    }
    #homepage header h3{
        font-size: 20px;
    }
    #homepage header #gioca{
        margin-top: 30px;
        font-size: 20px;
    }
}