.containerMappa{
    width: 100%;
    height: 100%;
}

.containerMappa{
    overflow: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.mappa {
    display: block;
    background-image: url('../img/assets/mappa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:1200px;
    height: 800px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}


/* immagini giochi */
.giocoMappa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.giocoMappa span {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow:
        -2px 0px 0px var(--text),
        2px 0px 0px var(--text),
        0px -2px 0px var(--text),
        0px 2px 0px var(--text);
}

/* inizio animazione blur e comparsa caption */
.giocoMappa img {
    transition: all 0.35s ease-in-out;
    padding: 10px;
}

.giocoMappa .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.giocoMappa .caption a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--text);
    border-radius: var(--angoli);
    color: var(--text);
    background-color: var(--details);
    
}

.caption a:hover {
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
}

.giocoMappa:hover img {
    opacity: 1;
    filter: blur(2px);
    border-radius: 15px;
}

.giocoMappa:hover .caption {
    opacity: 1;
}

.giocoMappa:hover span {
    filter: blur(2px);
    transition: all 0.35s ease-in-out;
}
/* fine animazione blur e comparsa caption */

/* posizionamento e dimensioni immagini */
.barca img {
    width: 160px;
    height: auto;
    aspect-ratio: 1/1;
}

.giocoMappa:hover .icon {
    filter: blur(0px);
}

.barca {
    position: absolute;
    top: 2%;
    right: 0.5%;
}

.peso img {
    width: 130px;
    height: auto;
    aspect-ratio: 1/1;
}

.peso {
    position: absolute;
    top: 67.5%;
    left: 42%;
}

.cabina img {
    width: 120px;
    height: auto;
    aspect-ratio: auto;
}

.cabina {
    position: absolute;
    top: 64%;
    right: 17%;
}

.mappamondo img {
    width: 120px;
    height: auto;
    aspect-ratio: 421/593;
}

.mappamondo {
    position: absolute;
    top: 4%;
    right: 37.5%;
}

.tromba img {
    width: 180px;
    height: auto;
    aspect-ratio: auto;
}

.tromba {
    position: absolute;
    top: 40%;
    left: 32.5%;
}

.domanda img {
    width: 200px;
    height: auto;
    aspect-ratio:auto;
}

.domanda {
    position: absolute;
    top: 30%;
    left: 15%;
}

.caverna img {
    width: 300px;
    height: auto;
    aspect-ratio: 1/1;
}

.caverna {
    position: absolute;
    bottom: 1%;
    left: -6%;
}

.giocoMappa .icon{
    width: 40px;
    height: 40px;
}

@media (max-width: 950px){
    .containerMappa{
        padding-bottom: 30px;
        margin-top: 0;
        border-radius: 0;
    }
    .mappa{
        border-radius: 0; 
    }
    .giocoMappa span {
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow:
            -1px 0px 0px var(--text),
            1px 0px 0px var(--text),
            0px -1px 0px var(--text),
            0px 1px 0px var(--text);
    }
}