@import url('https://fonts.cdnfonts.com/css/super-mario-256');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(75deg, rgb(109, 6, 113), red, blue, yellow);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 30vh;
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content .titolo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    font-size: 50px;
    letter-spacing: 15px;
    font-family: 'Super Mario 256', sans-serif;
}

.content .form {
    height: 60%;
    /* border: 10px solid olivedrab; */
    min-width: 30vw;
}

.content .form form {
    height: 100%;
    /* border: 10px solid orange; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content .form form .user {
    height: 30%;
    width: 80%;
    border: 5px solid black;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

.content .form form .login {
    list-style: none;
    text-decoration: none;
    height: 30%;
    width: 40%;
    border: 5px solid black;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

.content .form form input:hover {
    filter: invert(1);
}