@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap');

/*VARIABILI*/
:root{ 
    --bg:rgb(47, 47, 47);
    --bg-nav:rgb(0, 0, 0);
    --bg-navlink:rgb(65, 65, 65);
    --bg-footer:rgb(77, 77, 77);
    --bg-button:rgb(65, 65, 65);
    --bg-pattern:linear-gradient(135deg,#0000 18.75%,#141414 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#141414 -6.25% 6.25%,#010101 0 18.75%);
    --bg-pattern-gioca:linear-gradient(135deg,#0000 18.75%,#ff0000 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#ff0000 -6.25% 6.25%,#ed0000 0 18.75%);
    --details:rgb(255, 51, 51);
    --text:#ffffff;
    --bg-section:#ffffff;
    --angoli:5px;
    --to-white:invert(95%) 
    sepia(7%) 
    saturate(3%) 
    hue-rotate(109deg) 
    brightness(108%) 
    contrast(100%); /*Converte logo nero in bianco*/
}

body,html{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #d0d0d0; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body,html{
    margin:0;
    background:var(--bg-pattern);
    background-size: 44px 44px;
    background-position: 0 0, 32px  32px;
}

#super-cont{
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

/*HOME*/
#homepage h1{
    color:white!important;
    text-align: center;
}

#homepage .cont{
    background-color: white;
    border-radius: var(--angoli);
    width: 80%;
    max-width: 700px;
    padding: 20px;
    margin: auto;
}

#homepage #contenitori{
    display: flex;
    flex-direction: column;
    gap:20px;
}

/*LOGIN E SIGNUP*/
#login h1,#signup h1{
    text-align: center;
    color: white;
    margin-top: 40px;
}

#login label, #signup label{
    color:white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

#login p,#signup p{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 40px;
}

#login form, #signup form{
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background: var(--bg-pattern-gioca);
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    height: 75%;
    border-radius: var(--angoli);
    padding:30px;
    padding-top: 40px;
    animation: pop 300ms forwards;
}

input[type="text"],input[type="password"], input[type="email"]{
    outline:none;
    border:none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color:white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 30px;
    color:white;
}

input[type="text"]::placeholder,input[type="password"]::placeholder, input[type="email"]::placeholder{
    color:rgb(218, 218, 218);
}

input[type="submit"],input[type="button"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    outline:none;
    border:none;
    width: 180px;
    border-radius: var(--angoli);
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    margin-top: 25px;
    transition: all 300ms;
}

input[type="submit"]:hover,input[type="button"]:hover{
    transform: scale(1.1);
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.05);
}

#password{
    width:100%;
    display: flex;
    margin-bottom: 30px;
}

#password input{
    width: 90%;
    margin: 0;
}

#password img{
    filter:var(--to-white);
    transform: scale(0.5);
    cursor: pointer;
}

#login,#signup{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#noaccount{
    text-align: center;
    margin-top: 30px;
    color:white;
}

.errore{
    position: absolute;
    top:100px;
    left:0;
    right:0;
    width: fit-content;
    margin: auto;
    border: 4px solid white;
    text-align: center;
    color:white;
    background-color: rgb(147, 0, 0);
    padding:15px;
    border-radius: var(--angoli);
    animation: errore 2.5s forwards;
}

@media (max-width: 500px){
    #login form,#signup form{
        width: 100%;
        min-width: initial;
        border-radius: 0;
        flex:1;
    }
}

@keyframes errore {
    0%,100%{transform: scale(0);opacity:0}
    50%{transform: scale(1);opacity:1}
}

@keyframes pop {
    from{transform: scale(0);}
    to{transform: scale(1);}
}
