/* TOGGLE CHAT */

.button_chat {
    top: 10px;
    right: 10px;
    position: absolute;
    color: #ff4c7c;
    background-color: #0c5daf;
}


.button_chat:hover {
    background-color: #054280;
}

.collapse_chat {
    height: 100%;
    width: 30vw;
    background-color: rgb(0, 0, 0);

}

#contChat {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 0;
    height: 700px;
    display: flex;
    width: 30vw;
    background-color: rgb(41, 37, 37);
    border: 2px solid #0c5daf;
}

#contChat2 {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CHAT */

.main_chat {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
    /* border: 1px solid red; */
    color: white;
}


/*---------------------------------------*/

.main_chat .lista {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0c5daf;
}

.main_chat .lista .titolo {
    font-size: 24px;

}

.main_chat .lista .lista_utenti {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 10px;
}

.main_chat .lista .lista_utenti::-webkit-scrollbar {
    display: none;
}

.main_chat .lista .lista_utenti div {
    border: none;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    border-radius: 0px;
    background-color: transparent;
}

.main_chat .lista .lista_utenti div:first-child {
    margin-top: 0px;
}


/*---------------------------------------*/

.main_chat .content {
    /* border: 15px solid blue; */
    height: 95%;
    width: 100%;
}

.main_chat .content .campo_messaggi {
    height: 92%;
    background-color: rgb(50, 50, 55);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.main_chat .content .campo_messaggi::-webkit-scrollbar {
    display: none;
}

.main_chat .content .campo_messaggi div {
    width: 90%;
    /* border: 1px solid black; */
    font-size: 25px;
    margin-top: 10px;
    word-wrap: break-word;
}

.main_chat .content .campo_messaggi .main_mess_admin {
    text-align: center;
    overflow-wrap: break-word;
}

.main_chat .content .campo_messaggi .main_mess_io {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
    background-color: #eef8ff;
    border: 5px solid #b9e6ff;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.main_chat .content .campo_messaggi .main_mess_io .user {
    font-size: 20px;
    text-align: start;
    padding: 5px;
}

.main_chat .content .campo_messaggi .main_mess_io .mess {
    padding: 5px;
    overflow-wrap: break-word;
}

.main_chat .content .campo_messaggi .main_mess_io .time {
    font-size: 20px;
    padding: 5px;
    text-align: end;
}

.main_chat .content .campo_messaggi .main_mess_altri {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
    background-color: #eef8ff;
    border: 5px solid #ffb6c1;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
}

.main_chat .content .campo_messaggi .main_mess_altri .user {
    font-size: 20px;
    text-align: end;
    padding: 5px;
}

.main_chat .content .campo_messaggi .main_mess_altri .mess {
    padding: 5px;
}

.main_chat .content .campo_messaggi .main_mess_altri .time {
    font-size: 20px;
    padding: 5px;
    text-align: start;
}

.main_chat .content .campo_messaggi .main_mess_altri::after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #c1cbcd;
}


/*---------------------------------------*/

.main_chat .content .input_messaggi {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(50, 50, 55);
    padding: 10px;
}

.main_chat .content .input_messaggi .messaggio {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 2px 0px #c1cbcd;
    font-size: 16px;
}

.main_chat .content .input_messaggi .send {
    background-color: #0c5daf;
    color: #ff4c7c;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.main_chat .content .input_messaggi .send:hover {
    background-color: #054280;
}