.contAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height:fit-content;
    width: 100%;
    color: var(--text);
    box-sizing: border-box;
}

#titoloAbout {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
}

.contTextAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(63, 63, 62, 0.301);
    width: fit-content;
    padding: 30px;
    border-radius: var(--angoli);
    border-left: 6px solid var(--details);
    animation: pop 500ms forwards;
}

.aboutText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contAvatar {
    display: flex;
    border: 5px solid;
    border-color: var(--details);
    border-radius: 50%;
    margin: 20px;
}

.contAvatar .avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: ruota 800ms ease-out forwards;
}

#info{
    color:var(--text);
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#info div{
    font-size: 24px;
}

hr.sep{
    margin-top:40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 90%;
}

@media (max-width: 991.98px){
    .titoloAbout{
        padding-bottom: 0;
    }
    .contTextAbout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        margin-top: 10px;
    }

    .aboutText {
        margin: 20px;
    }
    #info div{
        font-size:18px;
    }
}