#titres{
    padding: 2%;
}
.form-box{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 20px;
    position: relative;
    z-index: 0;
    color: #fff;
    margin-top: 0;
    
    text-align: center;
    
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 25px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 20px;
}
.body-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.select-leader{
    color: black;
}
.back-td{
    margin-right: 10%;
}
select{
    margin: 3%;
    backdrop-filter: blur(8px);
    background-color: transparent;
    border: 2px solid black;
    border-radius: 13px;
    appearance: none;
    text-align: center;
    padding: 1%;
    outline: 0;
    background-image: none;

}
.select-leader{
    background-color: rgb(89, 180, 232);
}
.table{
    overflow-y: scroll;
    max-height: 60vh;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 1%;
   border-radius: 13px;
   border: 3px solid black;
}
.table::-webkit-scrollbar{
    width: 0;
}

.score-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128,0.5);
    border-radius: 13px;
    
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 1%;
    height: 35px;
}
.little-trophy{
    user-drag: none;
    width: 40px;
}
.button-little-lead{
    width:70px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
    text-align: center;
    padding-bottom: 1%;
}
.little-lead{
    width: 80px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-img{
    margin-top: 13%;
    width: 40px;
}
.button-little-lead:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(205, 0, 0);
    color: white;
}



.td{
    text-align: center;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    border: 3px solid black;
    /* padding-left: 40%;
    padding-right: 40%; */
    min-width: 250px;
    height: 50px;
    border-radius: 13px;
    margin-bottom: 1%;
}

 
.table-null{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 30px;
    position: relative;
    z-index: 0;
    color: #fff;
    margin-top: 0;
    
    text-align: center;
    
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 25px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
    .button-little-lead{
        width: 40px;
        height: 40px;
        position: relative;
        padding: .9%;
        padding-bottom: 2%;
    }
    
    .little-lead{
        width: 40px;
        font-size: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}