@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

*{
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    /* overflow-y: hidden; */
    user-select: none!important;
}
input:focus, textarea:focus {
    outline: none;
}

.home-container{
    /* background-image: -webkit-linear-gradient(90deg, skyblue 0%, steelblue 100%); */
    background-image: url("./icons/cloud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
    width: 100vw;
    overflow-y: hidden;
}

.logo-full .logo-char {
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 80px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}


.logo-full .logo-char:hover{
    transition: ease-in .2s;
    top: -10px;
    text-shadow: 0 1px 0 #ccc, 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 rgb(0, 0, 0), 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.866);
}
img {
    user-drag: none;
}
.home-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 10%;
    overflow-x: hidden;
    padding-bottom: 2%;
}
@media screen and (max-width: 600px) {
    .home-header{
        justify-content: space-between;
    }
    .logo-full{
        margin-top: 30%;
    }
    .logo-char{
        overflow-x: hidden;
        padding: .5%;
        padding-top:7% ;
        font-size: 60px!important;
    }
}
.trophy{
    width: 70px;
    transition: transform .2s ease-in-out;
}
.trophy-info{
    display: flex;
    flex-direction: row;
}
.trophy:hover{
    transform: rotate(30deg);
}
.logo-full{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.username-box{
    border: 3px solid black;
    background-color: white;
    margin-bottom: 1%;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 13px;
    font-size: 16px;
    transition: 0.2s;

}
.username-box:focus{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:210px;
    border-style: none;
    transition: 0.2s;
    border: 3px solid black;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
}
.button{
    width:200px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
}
.button:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:210px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(0, 205, 0);
    color: white;
}
.start-button:hover{
    background-color: rgb(0, 205, 0)!important;
    width:210px!important;
    color: white!important;
}
.back-button:hover{
    background-color: rgb(205, 0, 0)!important;
}
.back-button{
    line-height: 50px;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
}