.question-text{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 20px;
    position: relative;
    z-index: 0;
    color: #fff;
    margin-top: 0;
    
    text-align: center;
    
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 25px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
p{
    padding-bottom: 2%;
    margin: 0;
}
.img-box{
    border: 3px solid black;
    width: 400px;
    height: 300px;
    border-radius: 13px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    margin-bottom: 2%;
}
#timer{
    padding-bottom: 1%;
}
.question-count{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 25px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
.answer-box{
    display: flex;
    width: 100vw;
    justify-content: center;
    
}
.answer-button{
    width:200px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
.answer-button:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(89, 180, 232);
    color: white;
}
.answer-section{
    overflow-x: hidden;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    padding-bottom: 2%;
}
.score-section{
    padding: 5%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.go-box{
    padding: 2%;
}
.go-button{
    width:200px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    margin: 5%;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
}
.go-button:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:210px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(89, 180, 232);
    color: white;
}

#score-text{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 30px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
.button-box{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 400px) {
    .img-box{
        width: 90%;
        height: 25vh;
        background-size: cover;
        background-attachment: fixed;
    }
    .go-button:hover{
        transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width:110px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
        background-color: rgb(89, 180, 232);
        color: white;
    }
    .answer-button{
        font-size: 25px;
    }
    .question-count{
        font-size: 25px;
    }
    .question-text{
        font-size: 25px;
    }
    .go-button{
        width: 100px;
    }
    .answer-button:hover{
        transition: 1s;
        width: 90%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
        background-color: white;
        color: black;
    }
    .answer-button:active{
        background-color: rgb(89, 180, 232);
        transition: 0.1s;
    }
    #score-text{
        font-size: 25px;
    }
}