.btn-modal{
    width: 70px;
    transition: transform .2s ease-in-out;
    background-color: transparent;
    border: 0;
    background-image: url("./icons/feed.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn-modal:hover{
    transform: rotate(30deg);
}
.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal{
    z-index: 10;
}
.overlay{
    background: rgba(49,49,49,0.8);
}
.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-image: -webkit-linear-gradient(180deg, hsl(197, 71%, 73%) 0%, rgb(99, 177, 241) 100%); 
    color: #1B292F;
    border: 3px solid black;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    width: 70px;
    background-color: transparent;
    border: 0;
    background-image: url("./icons/feed.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
body.active-modal{
    overflow-y: hidden;
}
