#titres{
    text-align: center;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    font-size: 40px;
    position: relative;
    z-index: 0;
    color: #fff;
    margin-top: 0;
    
    text-align: center;
    
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
#singolo.wrong{
    background-color: rgb(255, 0, 0, 0.8);
    border: 10px solid rgb(255, 0, 0)!important;
    transition: .5s;
}
#singolo.wrong:hover{
    box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 0, 0, 0.3) 10px 10px, rgba(255, 0, 0, 0.2) 15px 15px, rgba(255, 0, 0, 0.1) 20px 20px, rgba(255, 0, 0, 0.05) 25px 25px;
}
#singolo.correct{
    background-color: rgb(18, 220, 18, 0.8);
    border: 10px solid rgb(18, 220, 18)!important;
    transition: .5s;
}
#singolo.correct:hover{
    box-shadow: rgba(18, 220, 18, 0.4) 5px 5px, rgba(18, 220, 18, 0.3) 10px 10px, rgba(18, 220, 18, 0.2) 15px 15px, rgba(18, 220, 18, 0.1) 20px 20px, rgba(18, 220, 18, 0.05) 25px 25px;
}
#contres{
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    z-index: 0;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
#contres::-webkit-scrollbar{
    width: 0;
}
.header-container{
    padding: 2%;
    z-index: 1;
}
.not-scrollable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
    
}
.footer-container{
    margin: 2%;
}
#singolo{
    min-height: 175px;
    margin-bottom: 1%;
    border-radius: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#singolo:hover{
    margin-bottom: 3%;
    margin-top: 2%;
    height: 300px!important;
}

@media screen and (max-width: 600px) {
    #contres{
        width: 90%;
    }
}