.title-char{
    font-size: 40px;
    text-align: center;
    overflow-x: hidden;
    width: max-content;
}
.select-button{
    width:200px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
    text-align: center;
}
.select-button2{
    width:250px;
    height: 70px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
    text-align: center;
}

.select-button2:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:260px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(89, 180, 232);
    color: white;
    background-image: url(https://usagif.com/wp-content/uploads/fire-51.gif);
    background-size: contain;
    
    background-size: cover;
    background-repeat: no-repeat;
}
.select-button:has(input[type="radio"]:checked){
    background-color: rgb(89, 180, 232);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    font-size: 20px;
}
.select-button2:has(input[type="radio"]:checked){
    background-image: url(https://usagif.com/wp-content/uploads/fire-51.gif);
    color: white;
    font-size: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
}

.difficolta{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
}
.little{
    width: 80px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-little{
    width:70px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 13px;
    color: black;
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: 0.2s;
    text-align: center;
    
}
.back-img{
    margin-top: 13%;
    width: 40px;
}
.button-little:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(205, 0, 0);
    color: white;
}
.select-button:hover{
    transition: 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width:210px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    background-color: rgb(89, 180, 232);
    color: white;
}
.m3{
    display: flex;
    flex-direction: row;
    padding: 2%;
    overflow-x: hidden;
}
.difficolta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding-bottom: 2%;
}
.title-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
}
.title-full{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}
.title-full .title-char {
    font-family: "Luckiest Guy", cursive;-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 60px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.select-button input, .select-button2 input{
    display: none;
}


.title-full .title-char:hover{
    transition: ease-in .2s;
    top: -10px;
    text-shadow: 0 1px 0 #ccc, 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 rgb(0, 0, 0), 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.866);
}


@media screen and (max-width: 700px) {
    .home-header{
        justify-content: space-between;
    }
    .title-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .difficolta{
        flex-direction: column;
        overflow-x: hidden;
    }
    .m3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .title-box{
        flex-direction: row;
        padding-top: 3%;
    }
    .title-full{
        margin: 0px;
    }
    .home-header2{
        display: flex;
        flex-direction: row;
        justify-content: space-between!important;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 10%;
        overflow-x: hidden;
        padding-bottom: 2%;
    }
    .title-char{
        overflow-x: hidden;
        padding: .5%;
        padding-top:2% ;
        font-size: 30px!important;
    }
}

