.liv-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

.tit-modalità{
	font-size: 30px;
    color: white;
	backdrop-filter: blur(5px);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
	text-align: center;
	width: 50%;
	margin: auto;
	border-radius: 10px;
	min-width: 380px;
}

.risposte{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.pulsante{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pulsante input{
    margin-bottom: 10px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
	font-family: fantasy;
	font-size: 25px;
	border: 2px solid black;
	width: 30%;
	min-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}

.pulsante input:hover{
    background-color: #fff600;
	position: relative;
	top:7px;
	left: 7px;
	right: 7px;
}

.riepilogo{
	font-size: 40px;
    color: white;
    text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
	text-align: center;
}

.punteggio{
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 15px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #04a4ee;
	color: white;
    text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);

}

.punteggio h1{
	margin: 0;
	padding: 0.5rem;
}

.punteggio h2{
	border-top: 2px solid black;
	width: 85%;
	text-align: center;
	margin: 0;
	padding: 0.5rem;
}

.indietro{
	margin-top: 15px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #04a4ee;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}

.ind{
	height: 40px;
	width: 40px;
}

.loader-container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.834)
        url("../../img/airplane.gif") center
        no-repeat ;
    z-index: 1;
}

.box-riepilogo{
	width: 100%;
	max-width: 850px;
	overflow-y: scroll;
	height: 60vh;
	/* margin-bottom: 1.5rem; */
	backdrop-filter: blur(5px);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  padding: 1rem;
}

.box-riepilogo::-webkit-scrollbar {
    display: none;
}

.card-riepilogo{
	display: flex;
	flex-direction: column;
	margin: 2rem;
	background-color: #04a4ee;
	text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  padding: 1rem;
	padding: 1rem;
	color: white;
	border-radius: 10px;
}

.card-riepilogo div h2{
	font-size: 35px;
}

.card-riepilogo div h3{
	font-size: 25px;
}

.card-riepilogo img{
	margin-right: 2rem;
	border: 2px solid white;
	width:  100%;
	aspect-ratio: 3/2;
}

.cont-modalita{
	width: 100%;
}

.box-modalita{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.grid-modalita{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3.5rem;
	margin: 1rem;
}

.modalita{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 250ms;
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
}

.modalita-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.modalita:hover .modalita-inner{
	transform: rotateY(180deg);
}

.modalita-front, .modalita-back{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 10px;
}

.modalita-front{
	background-color: #fff;
	color: black;
}

.modalita-back{
	backdrop-filter: blur(5px);
	text-shadow: 1px 1px 1px #000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
    1px 6px 1px #000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalita img{
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

.button-91 {
	--c: #fff;
	background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
	#04a4ee;
	color: #0000;
	border: none;
	transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
	text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
	calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
	outline-offset: .1em;
	transition: 0.3s;
}

.button-91:hover,
.button-91:focus-visible {
	--_p: 0%;
	--_i: 1;
}

.button-91:active {
	text-shadow: none;
	color: var(--c);
	box-shadow: inset 0 0 9e9q #0005;
	transition: 0s;
}

.button-91 {
	font-weight: bold;
	font-size: 2rem;
	cursor: pointer;
	padding: .3em .7em;
	border-radius: 5px;
	margin: 1rem!important;
}

.containerButton{
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 850px;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
}

@media screen and (min-width: 770px){
	.card-riepilogo{
		flex-direction: row;
		align-items: center;
	}

	.card-riepilogo img{
		width: 300px;
		height: 200px;
	}

	.risposte{
		grid-template-columns: repeat(2, 1fr);
	}

	.containerButton{
		flex-direction: row;
	}

	.riepilogo{
		font-size: 50px;
	}

	.box-riepilogo{
		padding: 2rem;
	}
}

@media screen and (min-width: 840px){
	.tit-modalità{
		font-size: 40px;
	}
}

@media screen and (min-width: 1600px){
	.box-riepilogo{
		width: 50%;
	}
}
