header.head-gioco{
    display: flex;
    background-image: url("../img/cover.png");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 600px 0px 400px black;
}

header.head-gioco h2{
    color: white;
    font-size: 40px;
}
header.head-gioco h3{
    color: rgb(179, 179, 179);
    font-size: 30px;
    font-weight: 400;
}

header.head-gioco #gioca{
    font-size: 40px;
    border-radius: var(--angoli);
    transition: transform 300ms,background-size 300ms;
    color:var(--text);
    background: var(--bg-pattern-gioca);
    background-size: 44px 44px;
    background-position: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

header.head-gioco #gioca:hover{
    transform: scale(1.2) rotate(6deg);
    background-size: 80px 80px;
}

@media (max-width: 950px){
    header.head-gioco{
        height: fit-content;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: inset 0px 100px 400px rgba(0, 0, 0, 0.851);
    }
    header.head-gioco h2,header.head-gioco h3{
        margin: 0;
    }
    header.head-gioco h2{
        font-size: 30px;
    }
    header.head-gioco h3{
        font-size: 20px;
    }
    header.head-gioco #gioca{
        margin-top: 30px;
        font-size: 20px;
    }
}