.box-utente{
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 260px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  padding: 3.5rem;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 1px #000,
        1px 2px 1px #000,
        1px 3px 1px #000,
        1px 4px 1px #000,
        1px 5px 1px #000,
        1px 6px 1px #000,
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

#anonymous{
    width: 175px;
    margin: auto;
    background: white;
    border: 8px solid white;
    border-radius: 50%;
}

.box-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    justify-content: space-between;

}

.UserName{
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}