.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.avatar img{
    display: block;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    transition: all 300ms;
}

/*ANIMAZION*/

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    border-radius: 100%;
    color: black;
}

/* Style the back side */
.flip-card-back {
background-color: rgb(0, 0, 0);
border-radius: 100%;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
font-size: 10px;
transform: rotateY(180deg);
}