.cont-avviso{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.593);
    animation: avviso 400ms forwards;
}

.avviso{
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

@keyframes avviso {
    from{opacity: 0;width: 0;}
    to{opacity: 1;width: 100%;}
}