nav{
    background-color: var(--bg-nav);
    color:var(--text);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    width: 100%;
}

nav .logo{
    max-width: 200px;
}

nav ul { 
    display:flex;
    gap:10px;
    list-style-type: none; 
    margin:0;
    z-index: 1;
    margin-right: 30px;
    position: relative;
}

nav ul #pupino{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul #pupino img{
    cursor: pointer;
    margin: auto;
    width: 50px;
    height: 50px;
}

nav a:not(.logo-link){
    display: flex;
    gap:10px;
    align-items: center;
    color: inherit;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    transition: background-color 150ms;
    background-color: var(--bg-navlink);
    border-radius: var(--angoli);
    z-index: 1;
    transition: transform 300ms;
}

nav a.logo-link{
    height: fit-content;
    display: flex;
}

nav ul li{
    position: relative;
}

nav ul li.active{
    display: none;  
}

nav ul li:has(.active){
    display:none;
    width: 0!important;
    height: 0!important;
}

.active:has(.logo){
    display: initial!important;
}


nav a:hover:not(.logo-link){
    transform: scale(1.15);
    box-shadow: 0px 0px 3px black;
    z-index:2;
}

nav .icon{
    width: 30px;
    filter: var(--to-white);
}

/*POPUP*/

#popup{
    position: absolute;
    width: 300px;
    top:75px;
    right: -30px;
    background-color: var(--bg-section);
    color: var(--bg-nav);
    padding: 20px;
    border-radius: var(--angoli);
    box-shadow:3px 3px 5px black;
    animation:pop 300ms forwards;
}

#popup #close{
    display: block;
    position: relative;
    width:25px;
    height: 25px;
    margin-right: 0;
    margin-bottom:-10px;
}

#popup #nomeavatar{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#popup #nomeavatar img{
    margin:0;
    margin-right: 10px;
    cursor: initial;
}

#popup input{
    display: block;
    padding:5px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: black;
    color:white;
    font-weight: bold;
    border-radius: 8px;
    outline:none;
    border:none;
    width: 100px;
    margin: auto;
    cursor:pointer;
}

#popup #stats_btn{
	margin-bottom:15px;
	width:95%;
}

#popup input:last-child{
	background-color:red;
}


@media (max-width: 950px){
    nav{
        flex-direction: column;
        width: 100%;
    }
    nav ul{
        width: 100%;
        background-color: var(--bg-nav);
        position: fixed;
        bottom:0;
        margin:0;
        gap:2px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        z-index: 3;
    }
    nav a:not(.logo-link){
        border-radius: 0!important;
        background-color: rgba(0, 0, 0, 0);
    }
    nav li span{
        display: none;
    }
    #popup{
        top:initial;
        bottom:75px;
        right:0;
    }
}
