@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap');

/*VARIABILI*/
:root{ 
    --bg:rgb(47, 47, 47);
    --bg-nav:rgb(0, 0, 0);
    --bg-navlink:rgb(65, 65, 65);
    --bg-footer:rgb(77, 77, 77);
    --bg-button:rgb(65, 65, 65);
    --bg-pattern:linear-gradient(135deg,#0000 18.75%,#141414 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#141414 -6.25% 6.25%,#010101 0 18.75%);
    --bg-pattern-gioca:linear-gradient(135deg,#0000 18.75%,#ff0000 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#ff0000 -6.25% 6.25%,#ed0000 0 18.75%);
    --details:rgb(255, 51, 51);
    --text:#ffffff;
    --bg-section:#ffffff;
    --angoli:5px;
    --to-white:invert(95%) 
    sepia(7%) 
    saturate(3%) 
    hue-rotate(109deg) 
    brightness(108%) 
    contrast(100%); /*Converte logo nero in bianco*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #d0d0d0; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body,html{
    margin:0;
    background:var(--bg-pattern);
    background-size: 44px 44px;
    background-position: 0 0, 32px  32px;
    overflow-x: hidden;
}

#super-cont:has(.container.gioco),.container.gioco{
    margin-bottom: 0;padding-bottom: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

.container{
    min-height: 70vh;
}

.container section{
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    animation: fade 600ms forwards;
}

.container section h1{
    display: block;
    position: relative;
    width: fit-content;
    font-size:60px;
    padding: 20px;
    height: 120px;
    border-left:10px solid var(--details);
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--bg-section);
    z-index: 2;
    border-top-left-radius: var(--angoli);
}

.container section h1::after{
    content:"";
    display: block;
    position: absolute;
    height: 100%;
    width: 100px;
    right: -150px;
    bottom:0;
    border-bottom: 120px solid var(--details);
    border-right: 150px solid transparent;
    border-left: 100px solid transparent;
    z-index: -1;
}

.container section div{
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    font-size: 20px;
    background-color: var(--bg-section);
    border: 10px solid var(--details);
    border-top-width: 0;
    border-radius: var(--angoli);
    border-top-left-radius: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

a{
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
}

a.button{
    background-color: var(--details);
    color:var(--text);
    font-weight: bold;
    padding:20px 30px 20px 30px;
    border-radius: var(--angoli);
    cursor: pointer;
    border:5px solid var(--text);
    outline:none;
}

@media (max-width: 991.98px){
    .container {
        height: fit-content;
    }
    .container section{
        width: 100%;
    }
    .container section h1{
        font-size: 20px;
        height: 65px;
    }
    .container section div{
        font-size: 15px;
    }
    .container section h1::after{
        border-bottom: 65.5px solid var(--details);
        border-right: 50px solid transparent;
        border-left: 20px solid transparent;
        right: -100px;
    }
    #super-cont,.container{
        padding-bottom: 0;
        padding-bottom: 100px;
    }
}

@keyframes pop {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

@keyframes fade {
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes ruota {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes errore {
    0%,100%{transform: scale(0);opacity:0}
    50%{transform: scale(1);opacity:1}
}

@keyframes pop {
    from{transform: scale(0);}
    to{transform: scale(1);}
}